<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Recuperar Contraseña</h2>
          <form (ngSubmit)="submit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input name="email" [(ngModel)]="email" type="email" id="email" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
            <button routerLink="/login" type="button" class="btn btn-secondary btn-block">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

