.container {
  margin-top: 70px;
  z-index: 1000;
}

::ng-deep body {
  background-color: #dbe7fe;
}

.btn {
  margin-top: 5%;
  margin-bottom: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
