<div *ngIf="loading" class="loading">
  <img src="assets/loading.gif" alt="loading" >
</div>

<div *ngIf="!loading" class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Seleccionar Albergue</h2>
          <form (ngSubmit)="onSubmit(opcion.value)">
            <div class="form-group">
              <label for="albergue">Seleccione un Albergue:</label>
              <select id="albergue" class="form-control" #opcion>
                <option *ngIf="!albergues" selected disabled>No hay albergues a los que no pertenezcas</option>
                <option  *ngFor="let albergue of albergues" [value]="albergue.id">{{albergue.localidad}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="pass">Código<span class="required">*</span></label>
              <input name="codigo" [(ngModel)]="codigo" type="tel" id="pass" class="form-control" required>
            </div>
            <button class="btn btn-primary btn-block" [class.disabled]="!albergues"  type="submit">Aceptar</button>
            <button class="btn btn-secondary btn-block" (click)="cancelar()">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



